<a href="https://colab.research.google.com/github/Dhananjay0705/MATPLOTLIB/blob/main/DataAnalytics(project).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
import os
from sqlalchemy import create_engine

In [25]:
engine = create_engine("sqlite:///inventory.db")

In [ ]:
for file in os.listdir('/content/drive/MyDrive/GOOGLE COLAB FOLDER/data') :
  if '.csv' in file :
    df = pd.read_csv('/content/drive/MyDrive/GOOGLE COLAB FOLDER/data/'+file)
    print(df.shape)
    ingest_db(df,file[:-4],engine)

(12261, 9)
(5543, 10)
(224489, 9)
(206529, 9)
(2372474, 16)
(12825363, 14)

In [29]:
def ingest_db(df,table_name,engine) :
  df.to_sql(table_name,con = engine, if_exists= 'replace',index = False)